@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;800&family=VT323&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: "poppins";
}

body {
    background-color: black;
}

.main {
    background-image: url(assets/bg.jpg);
    background-position: center center;
    background-size: max(1200px, 100vw);
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
}

.main .box {
    height: 100vh;
    width: 100%;
    opacity: 0.64;
    background-color: black;
    position: absolute;
    top: 0;
}

nav {
    max-width: 80vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
}

nav img {
    width: 150px;
    position: relative;
    z-index: 3;
}

nav button {
    position: relative;
    z-index: 3;
}

.title {
    color: white;
    height: calc(100% - 62px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;
    gap: 23px;
    padding: 0 30px;
}

.title> :nth-child(1) {
    font-size: 48px;
    font-weight: 900;
}

.title> :nth-child(2) {
    font-size: 17px;
    font-weight: 700;
}

.title> :nth-child(3) {
    font-size: 1.1rem;
    font-weight: 400;
}

.line {
    height: 7px;
    background-color: rgb(66, 65, 65);
}

.btn {
    padding: 5px 15px;
    font-weight: 600;
    color: #ffffff;
    background-color: rgba(248, 243, 243, 0.021);
    border: 1px solid white;
    border-radius: 4px;
    cursor: pointer;
}

.btn-red-sm {
    background-color: red;
    color: #ffffff;
    border: none;
    margin-left: 10px;
}

.btn-red {
    background-color: red;
    color: #ffffff;
    padding: 13px 24px;
    font-size: 20px;
    border-radius: 5px;
    border: none;
}

.main input, .button-email input {
    padding: 15px 200px 15px 5px;
    font-size: 15px;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: rgba(23, 23, 23, 0.7);
    color: #ffffff;
}

.title-btns {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.first {
    display: flex;
    justify-content: center;
    max-width: 70vw;
    margin: auto;
    color: #ffffff;
    justify-content: center;
    align-items: center;
}

.sec-img {
    position: relative;
}

.sec-img img {
    width: 30vw;
    position: relative;
    z-index: 10;
}

.sec-img video {
    position: absolute;
    width: 30vw;
    top: 50px;
    right: 0px;
}

.first > div :first-child {
    font-size: 40px;
    font-weight: 600;
}

.first > div :nth-child(2) {
    font-size: 17px;
    font-weight: 500;
}

.faq h2{
    color: #ffffff;
    font-size: 40px;
    text-align: center;
    margin: 25px;
}

.faq .box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(45, 45, 45);
    color: #ffffff;
    font-size: 1.4rem;
    padding: 20px 15px;
    width: 70vw;
    margin: 10px auto;
    cursor: pointer;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.68, 0.06);
} 

.faq .box:hover{
    background-color: rgb(59, 59, 59);
}

footer {
    width: 70vw;
    margin: auto;
    padding: 34px;
}

footer .question {
    padding: 34px 0;
    color: rgba(255, 255, 255, 0.7);
}

footer .btn-2 {
    margin-top: 34px;
}

footer a {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.7);
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.footer-items {
    display: flex;
    flex-direction: column;
    gap: 17px;
}

.button-email {
    padding: 34px;
}

.button-email div {
    color: #ffffff;
    font-weight: 400;
    text-align: center;
    padding: 8px 0;
}

.title-btns input {
    padding: 15px 400px 15px 5px;
}